// Here you can add other styles
body {
  background-color: #F9FAFC;
}
//字体
.extra-large{
  font-size: 20px;
}
.large{
  font-size: 18px;
}
.medium{
  font-size: 16px;
}
.small{
  font-size: 14px;
}
.extra-small{
  font-size: 13px;
}
.extra-extra-small{
  font-size: 12px;
}

//分页
.el-pagination{
  float: right;
}
